html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*-------------------------------------------- general ----------------------*/
body{
    margin:0 auto !important;
    font-family: 'open sans' !important;
    background:#f5f5f5 !important;
    font-size:15px;
    color:#000;
    /*word-break:break-all;*/
}
h1,h2,h3{margin:0  !important;
         padding:0px  !important; 
         /*color:#000;*/
         font-family: 'Open Sans' !important;
}
h1{font-size:35px;}
h2{font-size:22px;}
h3{font-size:18px;}
p{margin:0 !important; padding:0px  !important; font-family: 'open sans' !important;}
a{text-decoration:none !important; margin:0px !important; color:#000 !important; outline:none; font-size:14px; font-family: 'open_sansregular';}
input{font-family: 'Open Sans', sans-serif;}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
        url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Generated by Font Squirrel (https://www.fontsquirrel.com) on July 29, 2016 */



@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../fonts/opensans-condbold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-condbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.eot');
    src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-black-webfont.woff2') format('woff2'),
        url('../fonts/roboto-black-webfont.woff') format('woff'),
        url('../fonts/roboto-black-webfont.ttf') format('truetype'),
        url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------- general end */

/*-------------------------------------------- Layout (header, footer) ----------------------*/
header{
    display:block;
    background:#FFF;
    padding:5px 0px;
    border-bottom:1px solid #2aaae2;
    margin-bottom:15px;

}
.h-logo{margin-left:60px;}
.logo img{max-width:100%;}
.header-nav{
    float:right;
    padding-top: 13px;
}
.header-nav a{
    float:left;
    padding:11px 12px 12px 14px;
    margin-left:5px !important;
    font-size:17px;
    line-height:17px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.header-nav a:hover, .header-nav a.active{
    color:#FFF !important;
    background:#34cab5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mobile-nav{
    display:none;
    color:#26bcc3;
    font-size:20px;
    line-height:20px;
    text-align:center;
    padding:15px 5px 5px 5px;
    -webkit-transition: all 0.3s ease; 
    transition: all 0.3s ease; 
}

.mobile-nav span{
    cursor:pointer;
    -webkit-transition: all 0.3s ease; 
    transition: all 0.3s ease; 
}

.mobile-nav span:hover{
    color:#000;
    -webkit-transition: all 0.3s ease; 
    transition: all 0.3s ease; 
}

footer{
    display:block;
    padding:30px 15px;
    background:#2aaae2;
    text-align:center;
    font-size:16px;
    line-height:16px;
    color:#FFF;
}
footer .social-icon{
    display:block;
    padding-bottom:13px;
}
footer a{
    display:inline-block;
    margin-right:5px !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
footer a:hover{
    opacity:0.7;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*-------------------------------------------- Layout end */


/*-------------------------------------------- login ----------------------*/
.login-container {
    max-width: 530px;
    margin: 0 auto;
    padding: 100px 15px 50px 15px;
}
.login-contents {
    display: block;
    background: #fbfbfb;
    padding: 60px;
    margin-top: 25px;
    -webkit-box-shadow: 0px 0px 7px 0px #CCCCCC;
    box-shadow: 0px 0px 7px 0px #CCCCCC;
}
.login-contents h1 {
    display: block;
    color: #2f2f2f;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 65px !important;
    font-weight: bold !important;
}
.login-txtbx {
    width: 100%;
    height: 50px;
    display: block;
    background: #FFF;
    padding: 0px 52px 0px 12px;
    border: 1px solid #bbbbbb;
    outline: none;
    margin-bottom: 18px;
    color: #7f7f7f;
    font-size: 16px;
    line-height: 16px;
    border-radius: 3px;
    background-clip: padding-box;
}
.emailinputbg {
    background: #FFF url(../images/user-field.png) no-repeat right center !important;
    background-size: contain;
}
.email-img {
    background: #FFF url(../images/input-email-ico.png) no-repeat right center !important;
}
.lock-img {
    background: #FFF url(../images/input-lock-ico.png) no-repeat right center !important;
}
.up-down-img {
    background: #FFF url(../images/up-down.png) no-repeat right center !important;
}
.forgot-pass {
    display: block;
    padding: 17px 0px 40px 0px;
    text-align: center;
}
.forgot-pass a {
    color: #233872 !important;
    font-size: 16px;
    line-height: 16px;
    text-decoration: underline !important;
}
a.login-btn {
    display: block;
    padding: 15px;
    background: #5ab3e8;
    color: #FFF !important;
    font-size: 20px;
    line-height: 20px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin-bottom: 10px !important;
    border-radius: 3px;
    background-clip: padding-box;
    text-align: center;
}

.login-btn {
    display: block;
    padding: 15px;
    background: #0188cc;
    color: #FFF !important;
    font-size: 20px;
    line-height: 20px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin-bottom: 10px !important;
    border-radius: 3px;
    background-clip: padding-box;
    text-align: center;
    border:none;
    width:100%;
}

.login-bg {
    background: rgba(255, 255, 255, 0);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    background-color: #eff0f3;
    background-repeat: no-repeat;
    height: 100%;
}

.footer-container_admin{
    display:block;
    padding:12px 15px 15px 15px;
    background:#35cab6;
    font-size:18px;
    line-height:18px;
    color:#000000;
    font-family: 'open sans' !important;
    /*position:fixed;*/
    bottom:0px;
    width:100%;
}
/*.*/

.login-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.login-wrapper .box {
    margin: 0 auto;
    padding: 30px 0 30px;
    float: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    -ms-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    -o-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.login-wrapper .box .content-wrap {
    width: 82%;
    margin: 0 auto;
}
.login-wrapper .box h6 {
    text-transform: uppercase;
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 600;
}
.login-wrapper .box input[type="text"],
.login-wrapper .box input[type="password"] {
    font-size: 15px;
    height: 40px;
    margin-bottom: 10px;
    border-color: #b2bfc7;
    padding-left: 12px;
}
.login-wrapper .box input[type="text"]:focus,
.login-wrapper .box input[type="password"]:focus {
    border: 1px solid #28a0e5;
    outline: none;
    -webkit-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
    -moz-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
    -ms-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
    -o-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
    box-shadow: inset 0 1px 2px #dddddd, 0px 0 5px #28a0e5;
}
.login-wrapper .box input[type="password"] {
    margin-bottom: 10px;
}

.login-wrapper .box .action {
    position: relative;
    top: 30px;
    padding: 15px 0px;
}
.login-wrapper .box .signup {
    text-transform: uppercase;
    font-size: 13px;
    padding: 7px 25px;
    border-radius: 5px;
}
.login-wrapper .already {
    margin: 0 auto;
    float: none;
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}
.login-wrapper .already p {
    display: inline-block;
    color: #222;
}
.login-wrapper .already a {
    color: #222;
    margin-left: 7px;
    border-bottom: 1px solid;
}
.login-wrapper .already a:hover {
    text-decoration: none;
    color: #000;
    border-bottom-color: #000;
}

.login-wrapper .box .social{
    margin: 0 auto;
    width: 90%;
}
.login-wrapper .box .social a.face_login{
    background: #6887c4;
    background: -moz-linear-gradient(top, #6887c4 0%, #4566a9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6887c4), color-stop(100%,#4566a9));
    background: -webkit-linear-gradient(top, #6887c4 0%,#4566a9 100%);
    background: -o-linear-gradient(top, #6887c4 0%,#4566a9 100%);
    background: -ms-linear-gradient(top, #6887c4 0%,#4566a9 100%); 
    background: linear-gradient(to bottom, #6887c4 0%,#4566a9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6887c4', endColorstr='#4566a9',GradientType=0 );
    border: 1px solid #3B4868;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 37px;
    overflow: hidden;
    width: 99%;

    text-decoration: none !important;
}
.login-wrapper .box .social a.face_login:hover {
    background: #6887c4;
    background: -moz-linear-gradient(top, #6887c4 0%, #5773AC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6887c4), color-stop(100%,#5773AC));
    background: -webkit-linear-gradient(top, #6887c4 0%,#5773AC 100%);
    background: -o-linear-gradient(top, #6887c4 0%,#5773AC 100%);
    background: -ms-linear-gradient(top, #6887c4 0%,#5773AC 100%); 
    background: linear-gradient(to bottom, #6887c4 0%,#5773AC 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6887c4', endColorstr='#5773AC',GradientType=0 );
}
.login-wrapper .box .social a.face_login span.face_icon{
    background-color: #39599F;
    border-radius: 3px 0 0 3px;
    float: left;
    height: 37px;
    text-align: center;
    width: 51px;
}
.login-wrapper .box .social a.face_login span.face_icon img{
    margin-top: 5px;
}
.login-wrapper .box .social a.face_login span.text{
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 6px 0 0 25px;
    text-shadow: 1px 1px 0 #39599F;
}
.login-wrapper .box .division{
    display: inline-block;
    margin: 17px 0 23px;
    position: relative;
    text-align: center;
    width: 100%;
}
.login-wrapper .box .division hr{
    border-color: #E2E2E4;
    border-width: 1px;
    margin: 0;
    position: absolute;
    width: 40%;
}
.login-wrapper .box .division hr.left{
    top: 13px;
}
.login-wrapper .box .division hr.right{
    bottom: 6px;
    right: 0;
}
.login-wrapper .box .division span{
    color: #666666;
    font-size: 18px;
}
/*-------------------------------------------- login ends */

/******************************************************************* Tablet (Media queries) ************************************/
@media (max-width: 1000px) and (min-width: 768px){
    .container{width:100% !important;}
}

/******************************************************************* Mobile (Media queries) ************************************/
@media (max-width: 767px) and (min-width: 0px){
    .header-nav{
        width:100%;
    }
    .h-logo{margin-left:0px;}
    .or-mrgn img{display:none;}
    .or-mrgn{ margin-top:0px !important;}
    .logo{display:block; text-align:center;}
    .header-nav a{
        width:100%;
        text-align:center;
        margin:0px 0px 5px 0px !important;
    }
    .middle-content{padding:15px;}
    .mobile-nav{
        display:block;
    }
}

/*********************Add New Company***************************/
.new-comp-content{
    display:block;
    background:#FFF;
    padding:0px 15px 65px 15px;
    margin-bottom:15px;
    border-radius: 6px;
    background-clip: padding-box;
    font-family: 'open_sansregular';
}
.signup-addnew-form{
    max-width:600px;
    margin:0 auto;
}
.signup-addnew-form h2{
    display:block;
    text-align:center;
    font-size:30px;
    line-height:25px;
    color:#000;
    padding:70px 0px 45px 0px !important;
    font-family: 'open_sansregular';
}
.upload-img {
    display: block;
    float:left;
}
.upload-logo {
    display: block;
    float:left;
}
.upload-logo label{
    display:inline-block;
    color:#233872 !important;
    margin-top:134px  !important;
    font-size:16px;
    line-height:16px;
    border:1px solid #0088cc;
    padding:14px 22px;
    border-radius:4px;
    font-family: 'open_sansregular' !important;
}
.upload-logo label:hover{
    cursor: pointer;
}
#logo{
    display: none ;
}
.row-margin-top {
    margin-top: 25px;
}
.row-margin-t {
    margin-top: 80px;
}
.school-name {
    color: #333333;
    display: block;
    font-size: 16px;
    line-height: 14px;
    padding: 25px 0;
    position: relative;
}
.school-name-textbx {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #b4b4b4;
    color: #1e1e1e;
    display: block;
    float: left;
    font-family: "robotolight";
    font-size: 16px;
    height: 44px;
    line-height: 16px;
    outline: medium none;
    padding: 0 10px;
    width: 100%;
}
.add-new-btn{
    display:block;
    padding:38px 0 85px 90px;
}
.add-new-btn button{
    display:block;
    width:270px;
    text-align:center;
    margin:0 auto !important;
    border-radius:4px;
    background:#0088cc;
    font-size:17px;
    line-height:17px;
    color:#FFF !important;
    padding:15px 10px 17px 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.add-new-btn button:hover{
    background:#333;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 1199px) and (min-width: 768px){
    .upload-logo a{margin-left:50px !important;}
}
@media (max-width: 767px) and (min-width: 0px){
    .upload-logo { text-align: center; float:none;}
    .upload-logo a{margin-top:25px !important;}
    .upload-img {text-align:center;float:none;}
    .add-new-btn {padding: 38px 0 85px;}
    .school-name {padding: 5px 0 }

}

/*End add company*/

/*****************Search Company ******************/
.add-new-btn2 a{
    text-decoration: none;
}
.search-box{
	width:100%;
	height:46px;
	display:block;
	background:#FFF;
	padding:0px 40px 0px 12px;
	border:1px solid #bbbbbb;
	outline:none;
	margin-bottom:15px;
	margin-top:25px;
	margin-left:5%;
	color:#7f7f7f;
	font-size:16px;
	line-height:16px;	
  	border-radius: 3px; 
  	background-clip: padding-box;
}
.search-img{background:#FFF url(../images/sreach-img.png) no-repeat right center !important;}

.company-container {
    margin: 0 auto;
    max-width: 970px;
}
.search-comp-content{
	display:block;
	background:#FFF;
	padding:0px 100px 100px 100px;
	margin-bottom:15px;
	border-radius: 6px;
	background-clip: padding-box;
	font-family: 'open_sansregular';
}
	.add-new-btn2 a{
		display:block;
		text-align:center;
		margin:0 auto !important;
		border-radius:4px;
		background:#0088cc;
		font-size:17px;
		line-height:17px;
		color:#FFF !important;
		padding:15px 50px 17px 50px;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		font-weight:bold;
	}
	.add-new-btn2 a:hover{
		background:#333;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.flt-lft{float:left !important;}
	.total {
    display: block;
    float: right;
    padding-top: 25px;
	font-size:16px;
    font-family: 'open_sansregular' !important;
	
}

.list-table {
    width: 100%;
    font-family: 'open_sansregular';
    overflow: hidden;
}
.table-th {
    height: 50px;
    background: #34cab5;
    border-bottom: solid 1px #cdcdcd;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    line-height: 14px;
	margin-top:8px;
}
.table-company{ width:23.8%; float:left; text-align:left; margin-left:19%;padding:16px 0px;}

.table-events{width:23.8%;float:left; text-align:left;  padding: 16px 0px;}
.table-locations{ width:23.9%; float:left; text-align:left; padding: 16px 0px;}
.frb-table-product-th{width:19.1%;float:left; text-align:left; padding: 14px 0px;}
.frb-table-price-th {
    width: 10.3%;
    float: left;
    text-align: left;
    padding: 14px 0px 0 37px;
}
.table-space{width:3.5%;float:left; text-align:right;   padding: 16px 0px;}
 .tc1 {
        width: 19.5%;
        padding: 15px 0 0px 0;
        float: left;
        text-align: center;
        font-size: 14px;
		height:80px;
}
.tc2 {
        width: 25%;
        padding: 30px 0 20px 0;
        float: left;
        font-size: 16px;
    }
.tc2-2{
        width: 22%;
        padding: 30px 0 19px 0;
        float: left;
        font-size: 15px;
		color:#0088cc;
		text-decoration:underline;
		
    }
.tc3 {
        width: 10%;
        padding: 30px 0 16px 0;
        float: left;
        font-size: 15px;
		text-align:center;
		color:#0088cc;
		text-decoration:underline;
}
.tc3 img{
	padding-left:12px;
	margin-bottom:6px;
}
.tc4 {
    width: 23.5%;
    float: left;
    text-align: right;
    font-size: 14px !important;
    padding: 30px 0 0px 0px;
}
.tc5 {
        width: 10%;
        padding: 30px 0 16px 2.5%;
        float: left;
        font-size: 15px;
		color:#0088cc;
		text-decoration:underline;
}
 .main-table {
    overflow: hidden;
    float: left;
    font-size: 16px;
    width: 100%;
    font-family: 'open_sansregular' !important;
    border-bottom: solid 1px #d1d1d1;
} 
.edit{
	padding-right:5px;
}
.edit-btn {
	float:right;
    display:block;
    background:#fff;
    color:#FFF!important;
    width:40px;
	height:38px;
   /* -webkit-transition:all .4s ease-out;
    transition:all .4s ease-out;
	border-radius:3px;
	border:1px solid #6aaf07; */
    background-clip:padding-box;
    text-align:center;
	background-image: url(../images/edit1.png); 
	background-repeat:no-repeat;
	margin-right:5px !important;
}
a.edit-btn:hover { background-position:0 -38px;
	/*-webkit-transition:all .4s ease-out;
    transition:all .4s ease-out;*/
	 }
.del-btn {
	float:right;
    display:block;
    background:#fff;
    color:#FFF!important;
    width:40px;
	height:38px;
   /* -webkit-transition:all .4s ease-out;
    transition:all .4s ease-out;
	border-radius:3px;
	border:1px solid #6aaf07; */
    background-clip:padding-box;
    text-align:center;
	background-image: url(../images/cross1.png); 
	background-repeat:no-repeat;
	
}
a.del-btn:hover { background-position:0 -38px;
	/*-webkit-transition:all .4s ease-out;
    transition:all .4s ease-out;*/
	 }
@media (max-width: 1199px) and (min-width: 0px){
	.search-box{margin-left: 0px;}
	.search-comp-content{padding:0 15px 100px 15px;}
}

/*end company search*/
